<!DOCTYPE html>
<html lang="en">
<head>
  <title> Calendar View </title>
 
  <link rel="stylesheet" href="/static/styles/style.css">
  <script src="/static/scripts/calendar.js"></script>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
  <main>
    <h1>2024 GreekedIn Calendar</h1>
    <div class="section">

      <div> 
        <h2 id="month-name" class="month">

        </h2>
      </div>

      <div class="month-container">
          <button class="month-button" id="previous-month">Previous Month<P/button>
          <button class="month-button" id="next-month">Next Month<P/button>
      </div>
      <div>
        <table id="date-table">
          <thead>
            <tr>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
            </tr>
          </thead>
          <tbody id="date-table-contents">
            <!-- body will be filled with JavaScript -->
          </tbody>
        </table>
      </div>
    </div>

    <div class="menu-container">
        <a href="/" class="menu-button"> Home </a>
        <a href="/logout" class="menu-button"> Logout </a>
        {% if current_user.is_editor() or current_user.is_admin() %}
        <a href="/add_event" class="menu-button"> Add Event </a>
        {% endif %}
        <a href="/calendar" class="menu-button"> Calendar View </a>
        <a href="/rsvp_events" class="menu-button"> My Events </a>
        {% if current_user.is_authenticated and current_user.is_admin() %}
        <a href="/report_event" class="menu-button"> Reported Events </a>
        {% endif %}
      </div>

  </main>
</body>
</html>