<!DOCTYPE html>
<html lang="en">
<head>
  <title> Calendar View </title>
 
  <link rel="stylesheet" href="/static/styles/style.css">
  <script src="/static/scripts/calendar.js"></script>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
  <header>
    <div class = "topnav">
      <a class="navbar-brand" href="/" padding: 0>
        <img src="/static/images/greek2.png" alt="Logo" width="77" margin="0"> 
      </a>
      <a class="nav-link" href="/calendar">Calendar View</a>
      {% if current_user.is_editor() or current_user.is_admin() %}
        <a class="nav-link" href="/add_event">Add Event</a>
      {% endif %}
      {% if current_user.is_authenticated and current_user.is_admin() %}
          <a href="/report_event" class="nav-link"> Reported Events </a>
      {% endif %}
      <a class="nav-link" href="{{ url_for('profile', user_id=current_user.id) }}">My Profile</a>
      <a class="nav-link" href="/logout">Logout</a>
    </div>
  </header>
  <main>
    <h1>2023 GreekedIn Calendar</h1>
    <div class="section">

      <div> 
        <h2 id="month-name" class="month">

        </h2>
      </div>

      <div class="month-container">
          <button class="month-button" id="previous-month">Previous Month<P/button>
          <button class="month-button" id="next-month">Next Month<P/button>
      </div>
      <div>
        <table id="date-table">
          <thead>
            <tr>
              <th>Sunday</th>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
            </tr>
          </thead>
          <tbody id="date-table-contents">
        
          </tbody>
        </table>
      </div>
    </div>

   </main>
</body>
</html>