<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="container">
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show">
          <button type="button" class="close" data-bs-dismiss="alert"> 
            &times;
          </button>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  </header>
  <main>
    {% if current_user.is_authenticated %}
      <h1>Logged in as {{ current_user.email }}</h1>
  
      <div>
        <h2>Event List</h2>
        {% if events %}
        {% for event in events %}
          <div>
          <h3>{{ event.name }}</h3>
          <p>Group: {{ event.groupName }}</p>
          {% if event.logo_base64 %}
            <img src="data:image/png;base64,{{ event.logo_base64 }}" alt="Event Logo" width="200" />
          {% endif %}
          {% set user_rsvp = event.registrations | selectattr('userID', 'eq', current_user.id) | list %}
            {% if user_rsvp %}
              <p>You have RSVP’d for this event.</p>
              <form action="{{ url_for('rsvp_event', event_id=event.id) }}" method="post">
              <button type="submit">RSVP</button>
              </form>
            {% else %}
              <p>You have un-RSVP’d for this event.</p>
              <form action="{{ url_for('rsvp_event', event_id=event.id) }}" method="post">
              <button type="submit">RSVP</button>
              </form>
        {% endif %}
      {% else %}
          <p><a href="{{ url_for('get_login') }}">Log in</a> to RSVP for events.</p>
        {% endif %}
      </div>
      {% endfor %}
        {% else %}
        <p>No events found. Please add an event to see upload options.</p>
        {% endif %}
      </div>
    {% else %}
      <h1>Not logged in</h1>
    {% endif %}
  </main>
  
  <footer>
    <br>
    <a href="/"> Home </a>
    &emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="/register"> Register </a>
    &emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="/login"> Login </a>
    &emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="/logout"> Logout </a>
    &emsp;&emsp;&emsp;&emsp;&emsp;
    <a href="/add_event"> Add Event </a>
    <br>
  </footer>
</body>
</html>