html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    text-align: center;
}

.login-logo {  
    max-width: 80%;
    width: 400px;
    height: auto;
    margin: 20px auto;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 325px;
    padding: 1em;
    margin: 0 auto;
}


.question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.question {
    text-align: left;
    flex: 1;
}

.field {
    text-align: right;
    flex: 2;
}

.form-button, .button {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button, .menu-button {
    padding: 3px 6px;
    font-size: 16px;
    color: black;
    background-color: #e9e9ed;
    border: 1px solid #8f8f9d;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;  
}

.button:hover {
    color: black;
    background-color: #d0d0d7;
    border: 1px solid #676774;
    border-radius: 4px;
    text-decoration: none;  
}

.menu-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 20px;
}
