html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    text-align: center;
}

.login-logo {  
    max-width: 80%;
    width: 400px;
    height: auto;
    margin: 20px auto;
}


h2{
    padding-top: 1ex;
    padding-bottom: 3ex;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 325px;
    padding: 1em;
    margin: 0 auto;
}


.question-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
}

.question {
    text-align: left;
    flex: 1;
}

.field {
    text-align: right;
    flex: 2;
}

.form-button, .button {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button, .menu-button {
    padding: 3px 6px;
    font-size: 16px;
    color: black;
    background-color: #e9e9ed;
    border: 1px solid #8f8f9d;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;  
}

.button:hover {
    color: black;
    background-color: #d0d0d7;
    border: 1px solid #676774;
    border-radius: 4px;
    text-decoration: none;  
}

.menu-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 125px;
}



.button-margin{
    padding-bottom: 10ex;
}

.date-table, th {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}

td{
    width: 150px; 
    height: 150px; 
    text-align: center; 
    vertical-align: middle; 
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
}


.month-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 25px; /* Adjust width as needed */
    margin: 20px auto;
    /* margin: 20px 0; Optional: adds spacing around buttons */
}

.month-button {
    padding: 3px 3px;
    font-size: 14px;
    color: black;
    background-color: #e9e9ed;
    border: 1px solid #8f8f9d;
    cursor: pointer;
    text-decoration: none;  
}

    /* padding: 10px 20px;
    margin: 0; /* Ensures no extra spacing is added */
    /* font-size: 14px; Adjust as needed
} */
.month{
    width: 100%;
    text-align: center;
}

